# Ignore all virtual environment files
__pycache__/
*.pyc

# Ignore all installed dependencies
lambda/create_url/bin/
lambda/create_url/boto3/
lambda/create_url/botocore/
lambda/create_url/*.dist-info/
lambda/create_url/jmespath/
lambda/create_url/dateutil/
lambda/create_url/s3transfer/
lambda/create_url/six*/
lambda/create_url/urllib3/
lambda/create_url/six.py

lambda/redirect_url/six.py
lambda/redirect_url/bin/
lambda/redirect_url/boto3/
lambda/redirect_url/botocore/
lambda/redirect_url/*.dist-info/
lambda/redirect_url/jmespath/
lambda/redirect_url/dateutil/
lambda/redirect_url/s3transfer/
lambda/redirect_url/six*/
lambda/redirect_url/python_dateutil-2.9.0.post0.dist-info/
lambda/redirect_url/urllib3/
.DS_Store
.terraform.lock.hcl
.terraform/
lambda/.DS_Store
lambda/create_url/create_url.zip
lambda/redirect_url/redirect_url.zip
response.json
terraform.tfstate
terraform.tfstate.backup

# Optional - Ignore environment files
myvenv/
.env
